
#metadatos {
border-style: outset;
padding: 7px;
border: 2px dashed #8A2BE2;
border-radius: 5px;
font-family: "Lucida Console", "Courier New", monospace;
margin: 7px;
}

#contenidotexto #general {
    margin: 0px 40px 0px 40px;
    padding: 1px;
}

#contenidotexto #Header {
    text-align: center;
    height: 30px;
    margin: 0px;
    background-color: #1D507F;
    color: #fff;
    padding: 5px;
}

#contenidotexto #fuente{
    background-color: #f8f9fb;
    border: 1px solid #BBDEFB;
    margin: 0px 0px 40px 40px;
    padding: 10px;
}

/* Colores: */
.persName {
    color: #968eee;
}

.placeName {
    color: #5fd79a;
}

.roleName {
    color: #89c1e4;
}

.name {
    color: #fe6060;
}

.q {
    color: #B8860B;
}

#contenidotexto sup {
    color: purple;
    text-decoration: none;
}
